:root{
  --bg:#fff;
  --card-bg:#ffffff;
  --muted:#7b7b7b;
  --accent:#ff4b6b;
  --radius:18px;
  --container:1168px;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif !important;
  padding-top: 77px;
}

*{box-sizing:border-box}
html,body{height:100%;overflow-x: hidden;}
body{
  margin:0;
  color:#222;
  background:var(--bg);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
html {
  scroll-behavior: smooth;
}
button {
  font-family: 'Inter', sans-serif !important;
  color:#222;
  transition: .3s;
  outline: 0;
}
a {
  transition: .3s;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* Container */
.container{
  max-width:var(--container);
  margin:0 auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* Breadcrumbs */
.page-breadcrumbs {
  font-size: 14px;
  color: #737373;
  padding: 18px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-breadcrumbs.center .breadcrumbs-list {
  justify-content: center;
}

.breadcrumbs-item a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

.breadcrumbs-item a:hover {
  color: #222;
  text-decoration: underline;
}

.breadcrumbs-item a:active {
  opacity: 0.5;
}

.breadcrumbs-separator {
  margin: 0 4px;
  margin-bottom: -3px;
  
}

.breadcrumbs-item.current {
  pointer-events: none;
}


/* Header */
.site-header{
  background:#fff;
  border-bottom:1px solid #EDEDED;
  position:fixed;
  width: 100%;
  top:0;
  z-index:1000;
  transition: border-bottom 0.7s cubic-bezier(.4,0,.2,1);
}
.page-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000026;
  backdrop-filter: blur(16px);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(.4,0,.2,1);
}
.page-blur.active {
  pointer-events: auto;
  opacity: 1;
}
/* Header border removal when catalog is open */
.site-header.catalog-open {
  border-bottom: 1px solid transparent;
}
.header-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:16px 0;
  gap: 16px;
}
.logo{
  width: 100px;
  height: 44px;
}
.logo .accent{color:var(--accent)}
.header-controls{gap:16px;display:flex;align-items:center;flex-grow: 1;justify-content: space-between;position: relative;}
.btn{
  display:inline-flex;
  align-items:center;
  gap:8px;
  border-radius:14px;
  padding:10px 14px;
  border:0;
  cursor:pointer;
  font-weight:500;
}
.btn.primary{background:var(--accent); color:#fff}
.btn.ghost{background:#f6f6f7}
.btn.small{padding:8px 12px;font-size:14px}
.btn.circle{border-radius:50%;padding:8px 10px}
.header-controls-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-grow: 1;
}
.header-controls-wrap-2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* Hero */
.hero{
  padding:108px 0;
  padding-top: 184px;
  text-align:center;
}
.hero-inner{max-width:920px;margin:0 auto}
.hero-title{
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  line-height: 110%;
  margin: 0;
  margin-bottom: 16px;
}
.hero-sub{
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #525252;
  max-width: 480px;
  margin: 0 auto 32px;
}
.hero-btn {
  background: rgba(34, 34, 34, 0.05);
  border: 2px solid rgba(255, 255, 255, 1);
  color: #222;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  height: 44px;
  padding: 0 18px;
}
.hero-btn:hover {
  background: rgba(34, 34, 34, 0.08);
}
.hero-btn:active {
  background: var(--fill-2, #22222214);
  border: 2px solid #FFFFFF;
  opacity: 0.6;
}
.search-nav {
  height: 44px;
  max-width: 425px;
  width: 100%;
  position: relative;
}

.search-nav input[type="search"] {
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  color: #222;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 42px 10px 16px;
  border-radius: 100px;
  background: rgba(34, 34, 34, 0.05);
  transition: 0.3s;
  caret-color: #ff395c;
}

.search-nav input:hover {
  background: rgba(34, 34, 34, 0.08);
}

.search-nav input:focus {
  box-shadow: 0px 0px 0px 1px rgba(34, 34, 34, 0.12) inset;
}

.search-nav input::placeholder {
  color: rgba(106, 106, 106, 0.6);
}

/* кнопка поиска */
.search-box {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: var(--bg-2, #ffffff);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  outline: 0;
  border: 0;
  box-shadow: 0px 3px 8px -2px #00000014;
  box-shadow: 0px 0px 0px 1px #00000005;
}

.search-box svg path {
  transition: 0.3s;
}

/* крестик */
.search-clear {
  position: absolute;
  right: 46px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  padding: 0;
  margin-top: 1px;
}

.search-clear svg path {
  transition: 0.3s;
}

.search-clear:hover svg path {
  fill: #ff395c;
}

/* когда есть текст — красим иконку поиска */
.search-nav.active .search-box svg path {
  fill: #ff395c;
  fill-opacity: 1;
}

#catalogBtn {
  height: 44px;
  padding: 14px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
}
#catalogBtn.active {
  background: var(--fill-primary, #222222) !important;
  color: #fff !important;
}
#catalogBtn p {
  margin: 0;
  pointer-events: none;
}
#catalogBtn img,
#menuBtn img {
  pointer-events: none;
}
#menuBtn p {
  margin: 0;
  pointer-events: none;
}
#menuBtn span {
  margin: 0;
  pointer-events: none;
  height: 20px;
}
#catalogBtn span {
  pointer-events: none;
  height: 20px;
}
#catalogBtn:active {
  background: var(--fill-2, #22222214);
  opacity: 0.6;
}
#menuBtn.active {
  background: var(--fill-primary, #222222) !important;
  color: #fff !important;
}

#catalogBtn:hover {
  background: rgba(34, 34, 34, 0.08);
}
.fav-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(34, 34, 34, 0.05);
  transition: .3s;
}
.fav-btn:hover {
  background: rgba(34, 34, 34, 0.08);
}
.fav-btn:active {
  background: var(--fill-2, #22222214);
  opacity: 0.6;
}
#menuBtn {
  height: 44px;
  padding: 0 14px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  background: rgba(34, 34, 34, 0.05);
}
#menuBtn span {
  font-weight: 500;
  font-size: 16px;
}
#menuBtn:hover {
  background: rgba(34, 34, 34, 0.08);
}
#menuBtn:active {
  background: var(--fill-2, #22222214);
  opacity: 0.6;
}
.hero-content-wrap {
  max-width: 600px;
  margin: 0 auto;
}
/* Category section */
.category-section{
  margin-bottom:64px;
  padding:64px 0 0 0;
  background:transparent;
  border-radius:20px;
  border-top: 1px solid rgba(237, 237, 237, 1);
}
.category-section.cat-page-section {
  border: 0;
  padding-top: 16px;
}
.cat-page-section .category-head{
  justify-content: center;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.cat-page-section .category-title-group {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}
.cat-page-section .cat-icon{
  width: 120px;
  height: 120px;
}
.cat-page-section .category-name {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.cat-page-section .category-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -2%;
  text-align: center;
  max-width: unset;
}
.category-head{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  margin-bottom:24px;
}
.category-title-group{display:flex;gap:14px;align-items:center}
.cat-icon{width:72px;height:72px;border-radius:0px;object-fit:cover}
.category-name{
  margin:0 0 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #222;
  text-decoration: none;
}
.category-desc{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color:  rgba(115, 115, 115, 1);
  max-width: 480px;
}
.all-cat-btn {
  background: rgba(34, 34, 34, 0.05);
  border: 2px solid rgba(255, 255, 255, 1);
  color: #222;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  height: 44px;
  padding: 0 18px;
  line-height: 19px;
  display: flex;
  gap: 8px;
}
.all-cat-btn:hover {
  background: rgba(34, 34, 34, 0.08);
}
.all-cat-btn:active {
  background: var(--fill-2, #22222214);
  border: 2px solid #FFFFFF;
  opacity: 0.6;
}

/* Cards grid */
.cards-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-grid-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: unset;
  gap: 16px;
}

/* Card */
.card{
  border-radius:0;
  display:flex;
  flex-direction:column;
  max-width: 270px;
}
.card-media{position:relative;overflow:hidden;border-radius: 22px;height: 362px;}
.fav {
  position: absolute;
  right: 12px;
  top: 12px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 0;
  background: #22222240;
  backdrop-filter: blur(12px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.fav svg path {
  transition: fill 0.3s ease;
}

.fav.is-fav {
  background: #fff !important;
  box-shadow: 0 3px 8px -2px #00000014, 0 0 0 1px #00000005;
  animation: fav-pop 0.35s ease;
}

.fav.is-fav svg path {
  fill: #FF395C;
}

/* Эффект "пульсации" при нажатии */
@keyframes fav-pop {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.card:hover .fav {
  background: #22222260;
}
.fav:hover {
  background: #22222260;
}
/* Swiper внутри карточки */
.card-swiper {
  height: 100%;
  border-radius: 22px;
}
.card-swiper .swiper-wrapper {
  border-radius: 22px;
}

.card-swiper .swiper-pagination {
  position: absolute;
  bottom: 8px;
  text-align: center;
  z-index: 10;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 8px;
  transition: .3s;
  border-radius: 20px;
  align-items: center;
}
.card-swiper:hover .swiper-pagination{
  background: #00000066;
  box-shadow: 0px 0px 2px 0px #0000001A;
  backdrop-filter: blur(12px);
}
.card-swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.6;
  border-radius: 50%;
  margin: 0 4px;
  transition: background 0.3s, opacity 0.3s;
}
.card-swiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}
.card-swiper .swiper-button-next img {
  margin-right: -4px;
  user-select: none;
}
.card-swiper .swiper-button-prev img {
  margin-left: -4px;
  user-select: none;
}
.card-swiper .swiper-button-prev,
.card-swiper .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  cursor: pointer;
  box-shadow: 0px 3px 8px -2px #00000014;
  box-shadow: 0px 0px 0px 1px #00000005;
  opacity: 0;
  transition: .3s;
}
.card-swiper:hover .swiper-button-prev,
.card-swiper:hover .swiper-button-next {
  opacity: 1;
}
.card-swiper .swiper-button-prev:active,
.card-swiper:hover .swiper-button-next:active {
  opacity: 0.4;
}
.card-swiper .swiper-button-prev {
  left: 12px;
}
.card-swiper .swiper-button-next {
  right: 12px;
}
.card-swiper .swiper-button-prev::after,
.card-swiper .swiper-button-next::after {
  display: none;
}
.card-swiper .swiper-button-prev img,
.card-swiper .swiper-button-next img {
  width: 20px;
  height: 20px;
}
.card-body{padding-top: 12px;max-width: 270px;display: flex;flex-direction: column;}
.card-title{
  margin:0 0 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  color: #222;
}
.card-excerpt{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin: 0 0 6px;
  max-width: 255px;
  color:#737373;
  flex-grow: 1;
}
.card-meta{display:flex;align-items:center;justify-content:space-between}
.price{
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

/* Footer */
.site-footer{
  padding-top: 40px;
  border-top:1px solid #eee;
  margin-top:128px;
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.05) inset;
  background: rgba(247, 247, 247, 1);
}
.footer-inner{}
.footer-cols{display:grid;gap:24px;width: 100%;grid-template-columns: repeat(4, 1fr);margin-bottom: 24px;}
.footer-col{flex-grow: 1;}
.footer-cols ul{list-style:none;padding:0;margin:0}
.footer-cols li{margin-bottom:8px}
.muted{color:var(--muted)}
.footer-col-title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 8px;
  color:rgba(106, 106, 106, 0.6);
}
.footer-col li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #222222;
  transition: .3s;
}
.footer-col li a:hover {
  text-decoration: underline;
  color:#FF395C;
}
.footer-copy {
  display: flex;
  padding: 24px 0;
  border-top: 1px solid var(--fill-1, #2222220D);
  align-items: flex-end;
  justify-content: space-between;
}
.footer-copy-text p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #737373;
}
.footer-copy-links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-copy-links a {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #737373;
  margin: 0;
  transition: .3s;
  text-decoration: none;
}
.footer-copy-links a:hover {
  text-decoration: underline;
  color:#FF395C;
}
/* Общие настройки панели */
.panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: transparent;
  z-index: 45;
}

/* Только каталог */
.catalog-panel {
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  transform: translateY(10px);
  pointer-events: none;
  background: #fff;
  top: 77px;
  transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
}

.catalog-panel.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}


.catalog-panel .container {
  padding: 0;
  padding-bottom: 20px;
}

.catalog-panel .catalog-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.catalog-panel .cat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
  padding: 20px 12px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 6px 14px rgba(20, 20, 20, 0.04);
  background: var(--fill-1, rgba(34, 34, 34, 0.05));
  color: var(--Text-txt-1, #222222);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  height: 180px;
  transition: .3s linear;
}
.catalog-panel .cat-item:hover {
  background: var(--fill-2, #22222214);
}
.catalog-panel .cat-item:active {
  background: var(--fill-2, #22222214);
  opacity: 0.6;
}

/* Menu styling (dropdown on right) */
/* Плавное появление меню */
.menu-panel {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  pointer-events: none;
  background: none;
  transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
  top: calc(100% - 8px);
  display: flex;
  justify-content: flex-end;
  left: unset;
}

.menu-panel.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-panel .container {
  display: flex;
  justify-content: flex-end;
  padding: 0px !important;
}

.menu-panel .menu-list {
  background: #fff;
  border-radius: 20px;
  padding: 8px;
  min-width: 180px;
  box-shadow: 0px 6px 8px -2px var(--fill-1);
  box-shadow: 0px 0px 0px 1px var(--fill-2) inset;
  border: 1px solid var(--border, #EDEDED);
}

.menu-panel .menu-list li {
  list-style: none;
}

.menu-panel .menu-list a {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: inherit;
  border-radius: 12px;
  transition: background 0.2s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--Text-txt-1, #222222);
  transition: .3s linear;
}

.menu-panel .menu-list a:hover {
  background: var(--fill-1, #2222220D);
}
.menu-panel .menu-list a:active {
  background: var(--fill-2, #22222214);
  opacity: 0.6;
}

.search-nav-panel {
  display: none;
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: inherit;
  margin-top: 64px;
}

.pagination-list {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: all 0.2s ease;
}

.pagination-link:hover {
    background: var(--fill-2, #22222214);
}
.pagination-link:active {
    background: var(--fill-2, #22222214);
    opacity: 0.3;
}

.pagination-link.active {
  background: var(--fill-1, #2222220D);
  color: #222222;
  pointer-events: none;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.pagination-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737373;
  font-size: 18px;
  width: 36px;
  height: 36px;
  pointer-events: none;
}

.pagination-link.prev,
.pagination-link.next {
  background: var(--fill-1, #2222220D);
}

.pagination-link.prev:hover,
.pagination-link.next:hover {
  background: var(--fill-2, #22222214);
}

.pagination-link.prev:active,
.pagination-link.next:active {
  background: var(--fill-2, #22222214);
  opacity: 0.3;
}


/* Category page info */
.category-page-info {
  position: relative;
}

.category-page-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #737373;
  max-height: 260px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.6s ease;
}

.category-page-info-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90%);
  transition: opacity 0.3s ease;
}

.category-page-info-text.open {
  max-height: 5000px;
}

.category-page-info-text.open::after {
  opacity: 0;
  pointer-events: none;
}

.category-page-info-content p,
.category-page-info-content ul,
.category-page-info-content li {
  margin-bottom: 1em;
}

.category-page-info-content a {
  color: #737373;
  text-decoration: underline;
}

.category-page-info-btn {
  margin-top: 16px;
  background: #f2f2f2;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background 0.3s ease;
}

.category-page-info-btn:hover {
  background: #e6e6e6;
}


/* adjust positions for header height on small screens */
@media (max-width:767px){
  .catalog-panel .catalog-grid{grid-template-columns:repeat(2,1fr)}
  .catalog-panel{overflow-y:auto;width: 100%;left: 0;right: unset;height: 94vh;}
}
@media (max-width:520px){
  .menu-panel .menu-list{min-width:140px}
}

/* Responsive */
@media (max-width:1199px){
  .cards-grid{display: flex;justify-content: center;flex-wrap: wrap;}
  .hero-title{font-size:40px}
  .cards-grid {
    justify-content: center;
  }
  .cat-page-section .cards-grid-inner {
    display: grid;
    grid-template-columns:repeat(3,1fr);
  }
  .cards-grid-inner {
    justify-content: center;
  }
}
@media (max-width:991px){
  .cat-page-section .cards-grid-inner {
    grid-template-columns:repeat(2,1fr);
  }
  .cards-grid{grid-template-columns:repeat(2,1fr)}
  .category-desc {
    max-width: 450px;
  }
  .footer-copy {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .catalog-panel .cat-item {
    font-size: 14px;
    padding: 20px 8px;
  }
}
@media (max-width:767px){
  .hero{padding:64px 0}
  .footer-inner{flex-direction:column;gap:16px}
  .site-header {
    bottom: -1px;
    top: unset;
    border-radius: 24px 24px 0 0;
    box-shadow: 0px -4px 16px -4px #0000001A;
    box-shadow: 0px 0px 0px 1px #00000005;
  }
  .header-controls .logo {
    order: 3;
    width: 81px;
    height: auto;
  }
  .header-controls-wrap {
    order: 1;
    flex-grow: unset;
    gap: 20px;
  }
  .header-controls-wrap-2 {
    order: 3;
    gap: 20px;
  }
  .header-controls {
    gap: 20px;
  }
  #catalogBtn p {
    display: none;
  }
  .menu-panel {
    top: unset;
    bottom: calc(100% - 4px);
  }
  #catalogBtn {
    padding: 0;
    width: 44px;
    justify-content: center;
  }
  .header-inner {
    padding: 8px 16px !important;
  }

  .search-nav-main input {
    display: none;
  }
  .search-nav-main {
    width: 44px;
    height: 44px;
  }
  #menuBtn p{
    display: none;
  }
  #menuBtn {
    padding: 0;
    width: 44px;
    justify-content: center;
  }
  .hero-content-wrap {
    max-width: 360px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 110%;
  }
  .hero-sub {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1%;
  }
  .category-section {
    padding: 56px 20px 20px 20px;
  }
  .category-head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .category-title-group {
    flex-direction: column;
  }
  .category-desc {
    margin-top: 8px;
  }
  .category-head {
    margin-bottom: 32px;
  }
  .category-section {
    position: relative;
    margin-bottom: 56px;
  }
  .category-actions {
    position: absolute;
    bottom: -40px;
  }
  .cards-grid {
    flex-wrap: nowrap;
    width: 100%;
  }
  .cards-grid-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 32px;
  }
  .card-media {
    height: 232px;
  }
  .card {
    max-width: 172px;
  }
  .card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
  }
  .card-excerpt {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    margin: 0 0 4px;
  }
  .price {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1%;
  }
  .footer-cols {
    grid-template-areas:
      "logo logo"
      "company social"
      "services services";
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .footer__logo { grid-area: logo; }
  .footer__company { grid-area: company; }
  .footer__services { grid-area: services; }
  .footer__social { grid-area: social; }
  .footer-copy {
    align-items: flex-start;
  }
  .footer-copy-links {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 12px;
  }
  .catalog-panel {
    top: 0px;
    padding: 0;
    height: 120%;
    padding-top: 16px;
    padding-bottom: 220px;
    height: 0;
  }
  .catalog-panel .container{
    padding: 0 16px !important;
  }
  .site-header {
    z-index: 1001;
  }
  .cat-item img {
    width: 84px;
  }
  .catalog-panel .cat-item {
    height: 164px;
    padding: 20px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    gap: 4px;  
  }
  #menuBtn.active {
    background: var(--fill-1, #2222220D) !important;
  }
  #menuBtn {
    background: unset !important;
  }
  .fav-btn {
    background: unset !important;
  }
  #catalogBtn {
    background: unset !important;
  }
   #catalogBtn.active {
    background: var(--fill-1, #2222220D) !important;
  }
  .fav-btn svg path {
    fill: #737373 !important;
    transition: .3s;
  }
  #menuBtn svg path {
    fill: #737373;
    transition: .3s;
  }
  #catalogBtn svg path {
    fill: #737373 !important;
  }
  #menuBtn.active svg path {
    fill: #222222 !important;
  }
  #catalogBtn.active svg path {
    fill: #FF395C !important;
  }
  .catalog-panel.open {
    height: 120%;
  }
  .search-nav-panel {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 0px 1px var(--fill-2) inset;
    border: 1px solid var(--border, #EDEDED);
    background: var(--fill-1, #2222220D);
    z-index: 1000;
    border-radius: 100px;
    max-width: 90%;
    bottom: 0;
    transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .search-nav-panel input {
    background: rgba(255, 255, 255, 0.96) !important;
    box-shadow: 0px 0px 0px 1px rgba(34, 34, 34, 0.12) inset;
  }

  .site-footer {
    padding-bottom: 126px;
  }
  .search-nav-panel.open {
    bottom: 76px;
  }
  .search-nav-main .search-finder.open {
    background: var(--fill-1, #2222220D);
  }
  .search-nav-main .search-finder {
    width: 44px;
    height: 44px;
    transition: .3s;
    box-shadow: unset;
    border: 0 !important;
  }
  .search-nav-panel {
    border: 0;
  }
  .search-nav input[type="search"] {
    font-size: 16px;
  }
  .search-nav input::placeholder {
    color: #737373;
  }
  body {
    padding-top: 32px;
  }
  .cat-page-section .cat-icon {
    width: 80px;
    height: 80px;
  }
  .cat-page-section .category-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }
  .cat-page-section .category-head {
    max-width: 360px;
    margin-bottom: 40px;
  }
  .cat-page-section .category-desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }
  .category-page-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .category-page-info-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 17px;
  }
}
